{
    "name": "ovs0",
    "type": "ovs",
    "bridge": "ovs0",
    "isGateway": true,
    "ipMasq": true,
    "ipam": {
        "type": "host-local",
        "subnet": "SUBNET",
        "rangeStart": "START",
        "rangeEnd": "END",
        "gateway": "GW",
        "routes": [
            { "dst": "0.0.0.0/0" }
        ]
    }
}
